<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />   
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="github" value="https://nuget.pkg.github.com/TPSoftwareDev/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="bintuyadavteleperformance" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>